<div class="flex p-10">
  <div class="w-1/5"></div>
  <div class="w-4/5">
    <%= render partial: 'tailwind/components/layouts/layout1.html.erb' %>
    <%= render partial: 'tailwind/components/layouts/layout2.html.erb' %>
    <%= render partial: 'tailwind/components/layouts/tabs.html.erb' %>
  </div>
</div>
