<div class="flex h-screen p-10">
  <div class="flex-none w-1/5"></div>
  <div class="flex-grow">
    <%= render partial: 'tailwind/components/layouts/layout1.html.erb' %>
    <%= render partial: 'tailwind/components/layouts/layout2.html.erb' %>
  </div>
</div>
