<article class="mb-10">
  <h2 class="text-2xl mb-3">竖着的梯子🪜</h2>
  <div class="container w-1/2 h-56 mb-3">
    <div class="flex h-full border-4">
      <div class="bg-green-400 flex-none w-1/5 m-1"></div>
      <div class="flex-1 flex flex-col">
        <div class="bg-green-400 flex-none h-1/6 m-1"></div>
        <div class="bg-green-400 flex-1 m-1"></div>
        <div class="bg-green-400 flex-none h-1/6 m-1"></div>
      </div>
      <div class="bg-green-400 flex-none w-1/5 m-1"></div>
    </div>
  </div>
  <%# <pre>源代码将会在这里展示</pre> %>
</article>
