<article class="mb-10">
  <h2 class="text-2xl mb-3">导航🧭</h2>
  <div class="container px-4 py-4 border-4">
    <div class="relative min-w-full bg-white">
      <ul class="list-none flex items-center flex-nowrap overflow-hidden overflow-x-auto">
        <li class="flex-none pb-2 mr-9 relative">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent text-green-400">My account</a>

          <div class="absolute left-0 bottom-0 z-10 border-b-2 border-green-400 w-full"></div>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Team Members</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Billing</a>
        </li>
        <li class="flex-none pb-2 -mb-0.5 mr-9">
          <a href="javascript: void(0)" class="hover:text-green-300 hover:bg-transparent">Company</a>
        </li>
      </ul>
      <div class="absolute left-0 bottom-0 z-0 border-b-2 border-gray-200 w-full"></div>
    </div>
  </div>
</article>
